<footer>
    <div class="container">
        <div class="row p20">
            {{ with .Site.Params.copyright }}
                <div class="col-md-4 text-center mt25">All rights reserved by <a target="_blank" href="{{ .link }}">{{ .name }}</a></div>
            {{ end }}

            <div class="col-md-4 text-center mt25" >
                {{ with .Site.Params.builtBy }}
                Unterstützt durch: <a target="_blank" href="{{ .link }}">{{ .builtBy }}</a>
                {{ end }}
            </div>
            <div class="col-md-4 text-center mt25">
               {{ with .Site.Params.facebook }}
                <a target="_blank" href="{{.}}"><li class="social facebook"><i class="fa fa-facebook-square"></i></li></a> 
                {{ end }}
               {{with  .Site.Params.instagram }}
                <a target="_blank" href="{{.}}"><li class="social instagram"><i class="fa fa-instagram"></i></li></a>
                {{ end }}
               {{with  .Site.Params.email }}
                <a target="_blank" href="mailto:{{.}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
                {{ end }}
            </div>

        </div> 
    </div>
</footer>
