<div class="col-md-4 mt20">
        <div class="post-img">
            {{ if .Params.img }}
            <img width="600" src="{{ .Site.BaseURL}}images/{{ .Params.img }}" alt="{{ .Params.title }}">
            {{ else if .Params.imgw }}
            <img width="600" src="{{ .Params.imgw }}" alt="{{ .Params.title }}">
            {{ end }}
        </div>
            
        
        <div class="mt10 recent">
            <h2>Letzte Artikel</h2>
             <ul>
                {{ range first 3 (where .Site.RegularPages "Section" "posts") }}

                      <li>
                      <p><a href="{{ .Permalink }}">{{ .Title }}</a><small>&nbsp;&nbsp;{{ .Date.Format "January 2, 2006" }}</small></p>
                      </li>

                {{ end }}
              </ul>
        </div>
        {{ if .Site.Params.fbLikeBox }}
        <div class="mt10">
            <div class="fb-page" data-href="https://www.facebook.com/webjeda/" data-width="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/webjeda/" class="fb-xfbml-parse-ignore"><a href="{site.fb-page-url}}">{{ .Site.Params.fbPageTitle}}</a></blockquote></div>
        </div>
        {{ end }}
        <br>

</div>